
/*	General
============================*/
/*
 * {
	outline: 1px solid red;
}*/

body {
	height: 100%;
	background: linear-gradient(to right, #d4cccc 175px, transparent 170px);
}

a, a:hover, a:visited, a:link {
	color: black;
	text-decoration: none;
}




/*Header */
/*============================*/

section .header {
	height: 62px;
	width: 100%;
	background-color: #a5a0a0;
	position: relative;
	overflow: hidden;

}

	.navButton {
		float: left;
		font-size: 20px;
		margin: 19px 20px 20px 14px;
		display: none;
		background-color: inherit;
	}

	.header h1 {
		margin-top: 0px;
		padding: .3em;
		font-family: 'Lobster';
	}

/*	Navigation Bar
================================*/

.painter {
	position: absolute;
	width: 175px;
	height: 100vh;
	background-color: #d4cccc;
	z-index: 1;
	display: block;
	float: left;
	display: none;
}

section .nav-bar {
	float: left;
	width: 175px;
	margin-right: 10px;
	z-index: 3;
	
}


	.nav-bar ul {
		margin: 0;
    	padding: 0;
		left: 0;		
		list-style: none;
		width: 100%
	}

	.nav-bar ul li {
		font-size: 20px;
		padding: 10px;
		padding-left: 25px;
		width: 100%;
		text-transform: capitalize;
	}

	.nav-bar ul li:hover {
		background-color: #8c8983;
	}


	/*Responsive*/
@media only screen and (max-width: 700px) {
	body {
		background: #fff;
	}

	.nav-bar {
		display: none;
	}

	.header a {
		display: block;
	}
}

.openPanel {
	display: block;
	z-index: 100;
	position: absolute;
}

.openPainter {
	display: block;
}


.bodyBackground {
	background: linear-gradient(to right, #d4cccc 175px, transparent 170px);
}


/*	Main Visual
===================================*/

.main-visual {
	margin: 10px;
	overflow: hidden;
	padding: 10px;
	z-index: 0;
}




